services:
  caddy:
    build:
      context: ./images
      dockerfile: caddy.dockerfile
    image: hiramlabs/caddy
    container_name: caddy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ${HOME}/cdn/public:/srv
      - ./volume/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - interface

  dyndns:
    build:
      context: ./images
      dockerfile: dyndns.dockerfile
    image: hiramlabs/dyndns
    container_name: dyndns
    restart: unless-stopped
    env_file:
      - .secret.env
    networks:
      - interface

  globaltunnel:
    build:
      context: ./images
      dockerfile: globaltunnel.dockerfile
    command: --secure --domain globaltunnel.hiramlabs.com
    image: hiramlabs/globaltunnel
    container_name: globaltunnel
    restart: unless-stopped
    # ports:
    #   - 9000:80
    depends_on:
      - caddy
    networks:
      - interface

volumes:
  caddy_data:
  caddy_config:

networks:
  interface:
    driver: bridge
    name: interface
  wg_vpn:
    driver: bridge
    name: wg_vpn
  database:
    driver: bridge
    name: database
