{
        email hiram.labs@gmail.com
}

hiramlabs.com {
        respond "Maintenance in progress"
}

globaltunnel.hiramlabs.com {
        @http_req not header X-Websocket-Port *
        handle @http_req {
                reverse_proxy globaltunnel:80
        }
        handle {
                reverse_proxy globaltunnel:{http.request.header.X-Websocket-Port}
        }
}

# Requires the use of `certbot` to generate signed SSL certificates
# A DNS-01 challenge is used to validate the certificate
# placed certs and private key in the corresponding directory of the caddy container
# *.globaltunnel.hiramlabs.com {
#         tls /etc/ssl/globaltunnel.hiramlabs.cert /etc/ssl/globaltunnel.hiramlabs.key {
#                 resolvers ns2.digitalocean.com
#         }
#         reverse_proxy globaltunnel:80
# }

cdn.hiramlabs.com {
        rewrite /public /public/
        handle_path /public/* {
                file_server

                header {
                        Access-Control-Allow-Origin *
                }
        }
        handle {
                basicauth bcrypt {
                        admin JDJ5JDA1JDhNZWxLUjJRQVZBNjdpa2NqbjdXUmU1ZGRHcW1wNVM0UGNPYkY5cTZVWG5aMFlrcTJwUmlx
                }
                reverse_proxy cdn:80 {
                        header_up X-Cdn-Username admin
                }
        }
}

registry.hiramlabs.com {
        basicauth bcrypt {
                admin JDJ5JDA1JDhNZWxLUjJRQVZBNjdpa2NqbjdXUmU1ZGRHcW1wNVM0UGNPYkY5cTZVWG5aMFlrcTJwUmlx
        }
        handle /v2* {
                reverse_proxy registry:5000
        }
        handle {
                reverse_proxy registryui:80
        }
}

portainer.hiramlabs.com {
        reverse_proxy portainer:9000
}

jenkins.hiramlabs.com {
        reverse_proxy jenkins:8080
}

vscode.hiramlabs.com {
        reverse_proxy vscode:8080
}

adminer.hiramlabs.com {
        reverse_proxy adminer:8080
}

influxdb.hiramlabs.com {
        reverse_proxy influxdb:8086
}

neo4j.hiramlabs.com {
        reverse_proxy neo4j:7474
}

cayley.hiramlabs.com {
        reverse_proxy cayley:64210
}

rabbitmq.hiramlabs.com {
        reverse_proxy rabbitmq:15672
}

redis.hiramlabs.com {
        reverse_proxy redis:6379
}
